@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,200italic);

body {
  background: #222;
  color: #333;
  width: 100%;
  font-family: 'Exo 2', sans-serif;
}

.about_text {
  float:right;
  width: 400px;
  margin-right: 25px;
}

h1 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1em;
  margin: 10px 0px 20px 0px;
  font-family: 'Exo 2', sans-serif;
  color: #fff;
}

h1 strong {
  color: #45b8e2;
}

.by {
  font-size: 14px;
  color: #666;
  margin-left: 4px;
  letter-spacing: 0px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
}

.by strong {
  font-weight: 400;
}

.by img {
  margin-bottom: -3px;
  margin-left: 5px;
}

h2 {
  margin-top: 28px;
  margin-left: 4px;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  color: #fff;
}

p {
  margin-left: 4px;
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  color: #999;
}

.source {
  color: #999;
  font-size: 14px;
  font-weight: 200;
}

.more {
  font-style: italic;
  font-size: 12px;
  color: #666;
  margin-left: -5px;
}

.footer {
  bottom:10px;
  position: absolute;
  margin-top: 30px;
  line-height: 18px;
  margin-right: 10px;
}

.icons {
  width: 400px;
}

.icons .image {
  width: 96px;
  text-align: center;
  display: inline-block;
  margin-right:0px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  color: #999;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.icons .image img {
  width: 100%;
  margin-bottom: 10px;
}

.icons a {
  border: none;
}

.icons a:hover {

}

.icons p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
}

.icons span {
  font-family: 'Exo 2', sans-serif;
  font-size: 12px;
  font-weight: 200;
  color: #fff;
  letter-spacing: 2px;
  color: #999;
}

#chart_placeholder {
  text-align: center;
  margin: 20px 20px 20px 0px;
  color:#fff;
  position: absolute;
  height: 100%;
  width: 900px;
}

.dependencyWheel {
  font: 10px sans-serif;
}

form .btn-primary {
  margin-top: 25px;
}

#circle circle {
  fill: none;
}

.labeltext {
  color: #fff;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

path.chord {
  stroke: #000;
  stroke-width: .10px;
}

#circle:hover path.fade {
  display: none;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted #666;
  color: #999;
}

.more a {
  color: #666;
}

.by a {
  color: #fff;
}

a:hover {
  color: #45b8e2;
}

a:not(:hover) {
  text-decoration: none;
}

text {
  fill: #fff;
}

svg {
  font-size: 10px;
  color: #999;
  font-family: 'Exo 2', sans-serif;
  height: 100%;
  width: 100%;
}